@import "../../index.css";
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
}
.input-block {
  border: var(--borderForObjects);
}
.input-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;

  margin-bottom: 60px;
  padding: 10px;
}
